.DS_Store
deps.*/
deps/
.vscode/
.idea/
.cmake/
*.cmake
cmake-*/
build/

CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt

src/test/Testing/Temporary
src/test/CTestTestfile.cmake
src/test/bit_array_test
src/lib/libbit-array.a
